{% block group_item %}
    {% block group_item_header %}
      {% set truncate=truncate or 0 %}
      {% set truncate_title = truncate_title or 0 %}
      {% set title = group.title or group.name %}
      {% block group_item_header_image %}
        <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
          <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" />
          <span>{{ group.title or group.name }}</span>
        </a>
      {% endblock %}
    {% endblock %}
{% endblock %}
