{% set intro = g.site_intro_text %}

<div class="sobre-home">
  {% if intro %}
    {{ h.render_markdown(intro) }}
  {% else %}
    <h2 class="page-heading">Dados Abertos</h2>
    <p>
      {% trans %}CKAN is used by governments and user groups worldwide and powers a variety
      of official and community data portals including portals for local, national
      and international government, such as the UK’s <a style="color: #FFF;" href="http://data.gov.uk">data.gov.uk</a> and the
      European Union’s <a href="http://publicdata.eu/" style="color: #FFF;">publicdata.eu</a>, the Brazilian <a href="http://dados.gov.br/" style="color: #FFF;">dados.gov.br</a>, Dutch and
      Netherland government portals, as well as city and municipal sites in the US,
      UK, Argentina, Finland and elsewhere.
      {% endtrans %}
    </p>
  {% endif %}

  <a class="btn btn-default btn-lg" href="/dataset" role="button">Explore</a>
</div>