{% set intro = g.site_intro_text %}

<div class="sobre-home">
  {% if intro %}
    {{ h.render_markdown(intro) }}
  {% else %}
    <h2 class="page-heading">Dados Abertos</h2>
    <p>
      O portal de dados abertos da UFG é a ferramenta disponibilizada pela Universidade Federal de Goiás para tornar seus dados acessíveis e utilizáveis, para que todos possam encontrar e utilizar suas informações públicas.
      O portal tem o objetivo de disponibilizar todo e qualquer tipo de dado no âmbito da UFG. São dados de ensino, pesquisa, extensão, materiais, patrimônio, processos, etc. O portal funciona como um grande catálogo que facilita a busca e uso de dados publicados pelas Pró-reitorias da universidade.
    </p>
  {% endif %}

  <a class="btn btn-default btn-lg" href="/dataset" role="button">Explore</a>
</div>